.about__section {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.about__img_bg {
    background: var(--color-white);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: color 1.5s linear infinite alternate-reverse;
}
@keyframes color {
    from {background-color: var(--color-dark-grey);}
    to {background-color: var(--color-secondary);}
}

.about__img {
    background: url(/src/assets/me-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.about__me {
    margin-left: 3.5rem;
}

.about__me h2{
    font-weight: 600;
}

.about__subdesc {
    display: flex;
}

.about__name {
    color: var(--color-primary);
    margin-left: 0.7%;
}

/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: example 4s linear infinite alternate-reverse;
}
  
@keyframes example {
    from {background-color: #4E596F;}
    to {background-color: #242A38;}
} */

/* =============== MEDIA QUERIES =============== */
@media screen and (max-width: 1200px) {
    .about__img_bg,
    .about__img {
        width: 170px;
        height: 170px;
    }

    .about__me h2{
        font-size: 23px;
    }

    .about__me p{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .about__me{
        margin-left: 2rem;
    }

    .about__me h2{
        font-size: 20px;
    }

    .about__me p{
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .about__container {
        flex-direction: column;
    }

    .about__img_bg {
        margin-bottom: 1.5rem;
    }

    .about__me {
        margin-left: 0rem;
        text-align: center;
    }

    .about__subdesc {
        justify-content: center;
    }

    .about__subdesc p {
        margin: 0.1rem;
    }
}

@media screen and (max-width: 400px) {
    .about__section {
        padding: 1rem;
    }

    .about__img_bg,
    .about__img {
        width: 140px;
        height: 140px;
    }

    .about__me h2{
        font-size: 15px;
    }

    .about__me p{
        font-size: 11px;
    }
}